.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
div#offcanvasRight {
  width: 500px;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.display-container {
  padding: 20px;
}
.display-img {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.navbar {
  margin-bottom: 30px;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
select.form-select {
  width: 250px;
}
.text-center {
  position: relative;
}
.thumbnail {
      /* display: inline-block; */
      width: 200px !important;
      max-width: 20vw;
      position: relative;
      margin-right: 5px;
    /* background-color: #fffaf3; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.thumbnail.chosen {
  /* background-color: #f2f0ff; */
  border-style: solid;
  border-color: brown;
}
.thumbnail-footer {
  height: 15vh;
  width: 100%;
  background-color: #f0f0f020;
  padding: 11px;
  /* display: flex; */
  display: -webkit-box;
  overflow-x: scroll;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: black !important;
}